
    	<div class="bg">
	    	
	    		<div class="col-sm-12">
	    			<div class="contact-info">
	    				<h2 class="title text-center">Contact Info</h2>
	    				<address>
	    					<p>Kyoto Sale E-Shopper Inc.</p>
							<p>Kyoto University</p>
							<p>Kyoto, Japan</p>
							<p>Mobile: +81 080 4481 1168</p>
							<p>Email: sopheaktra.yong@outlook.com</p>
							<p>Blog: <a href="https://justlittlesharing.wordpress.com/" target="_blank"> JLS's blog </a></p>
	    				</address>
	    			</div>
    			</div>    			
	    	</div>  
    	</div>	

