<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>E-Shopper</title>
</head><!--/head-->

<body>
	
	<%= render 'header' %>

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="index">Home</a></li>
				  <li class="active">Help</li>
				</ol>
			</div><!--/breadcrums-->
		</div>
	</section> <!--/#cart_items-->

	<div id="contact-page" class="container">
		<div class="bg">
			<div class="row">
				<div class="col-sm-12">
					<div class="contact-info">
						<h1> Follow basic steps to start selling your product!</h1>
						<br />
						<h2 class="title text-center">List It</h2>
						<p>
							<b> Describe your items </b>
							<br />
							<i> Start by simply telling us what you're selling or renting.</i>
							<br />
							<br />
						</p>
					</div>
					<div class="contact-info">
						<h2 class="title text-center">Bid!</h2>
						<p>
							<b> Let your items get bid! </b>
							<br />
							<i> You may put the deadline if you wish.</i>
							<br />
							<br />
						</p>
					</div>
					<div class="contact-info">
						<h2 class="title text-center">Meet Up & Get Paid</h2>
							<p> Arrange the place & date delivering the items and get paid! </p>
							<br />
							<br />
					</div>
				</div>
			</div>
		</div>
	</div>

	<%= render 'footer' %>
	
</body>
</html>