
		<div class="bg">
			<div class="row">
				<div class="col-sm-12">
					<div class="contact-info">
						<h2 class="title text-center">Priacy Policy</h2>
							<stories>
								<p>
									EShopper knows that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. 

									<h2> What Personal Information About Customers Does We Gather? </h2> 
 
		
									<ul> 
									<li>
									<span > <strong>Information You Give Us:</strong> We receive and store any information you enter on our Web site or give us in any other way. You can choose not to provide certain information, but then you might not be able to take advantage of many of our features. We use the information that you provide for such purposes as responding to your requests, customizing future shopping for you, improving our stores, and communicating with you. </span>
									</li>
									 
									<li>
									<span> <strong>Automatic Information:</strong> We receive and store certain types of information whenever you interact with us. For example, like many Web sites, we use "cookies," and we obtain certain types of information when your Web browser accesses We or advertisements and other content served by or on behalf of We on other Web sites. </span>
									</li>
									  
									<li>
									<span > <strong>E-mail Communications:</strong> To help us make e-mails more useful and interesting, we often receive a confirmation when you open e-mail from We if your computer supports such capabilities. We also compare our customer list to lists received from other companies, in an effort to avoid sending unnecessary messages to our customers. </span>
									</li>
									 
									<li>
									<span > <strong>Information from Other Sources:</strong> We might receive information about you from other sources and add it to our account information. </span>
									</li>
									 
											
									</ul>
								</p>
								<br />
							</stories>
					</div>
				</div>
			</div>
		</div>
