


<div class="bg">
	<div class="row">  	
			<div class="col-sm-6">
			<div class="signup-form"><!--sign up form-->
				<% provide(:title, 'All users') %>
				<h1>All users</h1>

				<%= will_paginate %>

				<ul class="users">
				    <%= render @users %>
				</ul>

				<%= will_paginate %>
			</div><!--/sign up form-->
		</div>
	</div>
</div>

<br />
<br />

