
<div class="col-sm-12">
	<% provide(:title, @user.name) %>
	<div class="row">
	  <aside class="col-md-12">
	    <section class="user_info">
	      <h1>
	        <%= gravatar_for @user %>
	        <%= @user.name %>
	      </h1>
	    </section>
	  </aside>

	</div>

	<br />
	<br />
</div>