<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>E-Shopper</title>
</head><!--/head-->

<body>
	
	<%= render '/static_pages/header' %>

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="index">Home</a></li>
				</ol>
			</div><!--/breadcrums-->
		</div>
	</section> <!--/#cart_items-->


	<%= render '/static_pages/footer' %>
		
</body>
</html>