<% provide(:title, 'All Products') %>
<div class="row">
	<div class="col-sm-12">
		<div class="features_items">
			<h2 class="title text-center">All Products</h2>
			<ul>
			    <%= render @products %>
			</ul>	
		</div>	
		<div class="center"><%= will_paginate %></div>
	</div>
	
</div>
<br />

